.projects {
    height: 500px;
    width: min(809px, 85%);
}

.project {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    background: linear-gradient(to bottom, #0D0D0D, rgb(13, 13, 13, .6));
    backdrop-filter: blur(5px);
    color: #CFFBC9;
    width: 90%;
    height: 90%;
    border-radius: 25px 0 25px 0;
    display: grid;
    grid-template-rows: auto 1fr;
    transition: all .6s ease-out;
}

.content:hover {
    background-color: rgb(13, 13, 13, .7);
}

.topContainer {
    display: flex;
    flex-direction: column;
}

.topContainer>h1 {
    font-size: 60px;
    margin: 2rem 0 2rem 2rem;
}

.bottomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomContainer>p {
    width: 90%;
    font-size: clamp(24px, 2vw, 60px);
    text-wrap: wrap;
    text-align: center;
}

.buttonsContainer {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.projectButton {
    background-color: #9EBF99;
    min-width: 100px;
    width: auto;
    height: auto;
    padding: .5rem;
    border-radius: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    transition: all .3s ease-out;
}

.projectButton>svg {
    width: 25px;
    height: auto;
}

.projectButton>span {
    color: #0D0D0D;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
}

.projectButton:hover {
    background-color: #CFFBC9;
}

@media (max-width: 400px) {

    .buttonsContainer {
        gap: 3px;
    }

    .leftBtn {
        border-radius: 25px 0 0 25px;
    }

    .rightBtn {
        border-radius: 0 25px 25px 0;
    }

    .projectButton {
        height: 75px;
        width: 75px;
    }
}