.projects {
    height: 500px;
    width: min(809px, 85%);
}

.project {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
}

.content {
    background: linear-gradient(to bottom, black, rgb(0, 0, 0, .5));
    color: #CFFBC9;
    position: relative;
    bottom: 150px;
    height: 250px;
    width: 100%;
    border-radius: 50px 50px 0 0;
    padding: 0 2rem 0 2rem;
    display: grid;
    grid: "description btn" 1fr 
          "name btn" auto 
          / 1fr auto;
    gap: 2rem;
    transition: all .6s ease-out;
}

.content:hover {
    bottom: 0;
}

.content>h1 {
    grid-area: name;
    align-self: flex-start;
    font-size: 60px;
    margin: 1.5rem 1rem 1rem 0;
}

.content>p {
    grid-area: description;
    font-size: clamp(24px, 2vw, 60px);
    margin: 2.5rem 0 0 0;
    text-wrap: wrap;
}

.content>a {
    grid-area: btn;
    margin: 50px 75px 0 0;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    align-self: flex-start;
}

.githubBTN {
    background-color: #9EBF99;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    transition: all .3s ease-out;
}

.content>a:hover .githubBTN {
    background-color: #CFFBC9;
}

@media (max-width: 400px) {

    .content>p {
        height: 75px;
        opacity: 0;
    }

    .content:hover.content>p {
        opacity: 1;
    }

    .content>a {
        height: 75px;
        width: 75px;
    }

    .githubBTN {
        height: 75px;
        width: 75px;
    }
}