.container {
    background-color: #593232;
    height: 450px;
    width: auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.tech {
    height: max(100%, 100px);
    width: auto;
    padding: 0 25px 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.tech>span>img {
    user-select: none;
    width: auto;
    height: 50px;
    margin: 0;
}