@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.projectsSection {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
}
.personalProjectsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
}
.projectContainer {
    width: 625px;
    height: 250px;
    display: grid;
    grid: "vinyl image content" 1fr
          / 125px auto 1fr;
    transition: .3s;
} 
.iconImg {
    height: 250px;
    width: 250px;
    margin: 0;
    grid-area: image;
    z-index: 2;
 } .svgImg {
    width: 250px;
    height: 250px;
    margin: 0;
    grid-area: vinyl;
    animation: rotate 4s linear infinite;
    animation-play-state: paused;
}
.content {
    background: linear-gradient(to right, black, transparent);
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
} .content > h1 {
    margin: 0;
    align-self: center;
} .content > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.projectContainer:hover {
    transform: scale(1.05);

} .projectContainer:hover > .svgImg {
    animation-play-state: running;    
}