.aboutContainer {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: flex;
}
.halfOfWalkman {
    background-color: aqua;
    width: 38.2%;
    height: 100%;
}
.halfOfInformation {
    background-color: blueviolet;
    width: 61.8%;
    height: 100%;
}