.aboutContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;

} .auxBg {
    background: url(../../assets/telecaster-inclinada.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0 0 0 1rem;
    height: 100%;
    width: 715px;
} 
.infoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid: "tittle tittle" auto
          "soft-skills description" 1fr
          "soft-skills age-country" auto
          / 1fr 1fr;
    gap: 0;
}
.tittleArea { grid-area: tittle; }

.descriptionArea { 
    grid-area: description;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.ageCountryArea {
    grid-area: age-country;
    display: flex;
    align-items: center;
    gap: 1rem;

} .ageCountryArea > span {
    font-size: 24px;
}

.softSkillsArea { grid-area: soft-skills; }