.backstory {
    background-color: rgb(13, 13, 13, .5);
    color: #9EBF99;
    width: min(800px, 100%);
    height: 100%;
    padding: 2.5rem 0 2.5rem 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.backstory>p {
    width: 90%;
}
.backstory>p>hr {
    border-color: var(--three-color);
}

@media (max-width: 800px) {
    .backstory {
        border-radius: 0;
    }

    .backstory>p {
        width: 75%;
    }
}