.landingContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr
}

.leftContainer {
  display: grid;
  grid-template-rows: 2fr 1fr;

} .leftContainer > h1 {
  margin: auto 0 0 2rem;
  text-wrap: wrap;
  font-size: 120px;
  font-weight: 700;
  user-select: none;

} .leftContainer > div {
  height: 100%;
  padding: 1rem 0 0 2rem;
  user-select: none;
}

.rightContainer {
  background: url(../../assets/personal-picture.png) #758C72;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.carrousel {
  background-color: aliceblue;
  width: 200px;
  overflow: hidden;

}


/*---Dividder-------------------------*/
.dividerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.dividerBottom > svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.dividerBottom .shapeFill {
  fill: #657363;
}